* {
  padding: 0;
  margin: 0;
}

body {
  background-color: green;
}

.content {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.content h2 {
  color: #000;
  background-color: aqua;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.content h2:hover {
  color: #fff;
  background-color: rgb(21, 21, 21);
  border-radius: 50%;
}

table,
td {
  border: 1px solid rgb(2, 2, 2);
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  background-color: #96d4d4;
  margin: 5px;
  padding: 10px;
}
